<a href="https://colab.research.google.com/github/alearauj/Scripts-Python/blob/main/EDA_An%C3%A1lise_Estat%C3%ADstica_Descritiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Este notebook foi criado com o objetivo de servir como um guia para realizar análises estatísticas descritivas de conjuntos de dados no formato CSV.

### **Preparação do ambiente**

**Liberação das bibliotecas**

In [13]:
# Acesse as bibliotecas necessarias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Importação e leitura do arquivo csv**

> O arquivo csv foi importando manualmente através da aba "Files" disposta no lado esquerdo.

In [16]:
# Use o pandas para ler o arquivo CSV -- Lembre-se de atualizar o caminho.
df = pd.read_csv('/content/olist_pedidos.csv')

In [17]:
# Exiba as primeiras linhas do DataFrame para verificar se os dados foram lidos corretamente
print(df.head())

                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp order_approved_at  \
0   #delivered         02/10/2017 10:56  02/10/2017 11:07
1   #delivered         24/07/2018 20:41  26/07/2018 03:24
2   #delivered         08/08/2018 08:38  08/08/2018 08:55
3   #delivered         18/11/2017 19:28  18/11/2017 19:45
4   #delivered         13/02/2018 21:18  13/02/2018 22:20

  order_delivered_carrier_date order_delivered_customer_date  \
0             04/10/2017 19:55              10/10/2017 21:25
1             26/07/2018 14:31              07/08/2018 15:27
2             08/08/2018 13:50              17/08/2018 18:06
3             22/11/2017 13:39              02/12/2017 00:28
4             14/02/2018 19:46              16/02/2018 18:17

  order_estimated_delivery_date
0              18/10/2017 00:00
1              13/08/2018 00:00
2              04/09/2018 00:00
3              15/12/2017 00:00
4              26/02/2018 00:00

### **Conhecendo os dados**

**Checar tamanho do arquivo**

In [19]:
df.shape

(99441, 8)

**Checar os dados**

In [23]:
df.head(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,#delivered,02/10/2017 10:56,02/10/2017 11:07,04/10/2017 19:55,10/10/2017 21:25,18/10/2017 00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,#delivered,24/07/2018 20:41,26/07/2018 03:24,26/07/2018 14:31,07/08/2018 15:27,13/08/2018 00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,#delivered,08/08/2018 08:38,08/08/2018 08:55,08/08/2018 13:50,17/08/2018 18:06,04/09/2018 00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,#delivered,18/11/2017 19:28,18/11/2017 19:45,22/11/2017 13:39,02/12/2017 00:28,15/12/2017 00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,#delivered,13/02/2018 21:18,13/02/2018 22:20,14/02/2018 19:46,16/02/2018 18:17,26/02/2018 00:00
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,#delivered,09/07/2017 21:57,09/07/2017 22:10,11/07/2017 14:58,26/07/2017 10:57,01/08/2017 00:00
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,#invoiced,11/04/2017 12:22,13/04/2017 13:25,NaN,NaN,09/05/2017 00:00
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,#delivered,16/05/2017 13:10,16/05/2017 13:22,22/05/2017 10:07,26/05/2017 12:55,07/06/2017 00:00
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,#delivered,23/01/2017 18:29,25/01/2017 02:50,26/01/2017 14:16,02/02/2017 14:08,06/03/2017 00:00
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,#delivered,29/07/2017 11:55,29/07/2017 12:05,10/08/2017 19:45,16/08/2017 17:14,23/08/2017 00:00

**Encontrar valores nulos**

In [20]:
df.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Precisamos entender o que os valores nulos significam em cada uma das colunas para definirmos o que faremos com eles.


*   **`order_approved_at`**: indica a data de aprovação do pedido. Como queremos entender o cenário das datas de entrega versus data estimada de entrega, essa coluna não afetará diretamente na comparação dos dois campos, mas pode ajudar a entender se existe relação com a data de aprovação do pedido versus data estimada de entrega.
*   **`order_delivered_carrier_date`**: indica a data que o pedido foi entregue para a transportadora. Mesmo cenário da outra coluna em que os nulos não afetam na comparação direta entre os campos de data de entrega.
*   **`order_delivered_customer_date`**: indica a data que o pedido foi entregue para o colaborador. Precisamos desse campo para entender se a data entregue está compatível com a prevista.

**Encontrar valores duplicados**

In [21]:
df.duplicated().sum()

0

**Conhecer a tipagem dos dados**

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB